@charset 'utf-8';

// =====================
// Footer
// ---------------------
// グローバルフッター
// =====================
.Footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: $space-unit*2 auto 0;
    padding: $space-unit 0;
    background-color: $color-black;
    color: $color-link;
}

