@charset 'utf-8';

.Menu {
    display: flex;
    justify-content: space-around;
    @include menu-font;

    &__item {
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
    }

    // フッターのメニュー
    &--sub {
        flex-direction: column;
    }
}

.SpMenu {
    @include mq-sp {
        position: fixed;
        top: $sp-space-unit;
        right: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        .isOpened & {
            opacity: 1;
            z-index: 1;
        }
    }

    &__wrapper {
        left: 0;
        width: 100%;
        &.isOpened {
            position: fixed;
            left: 200px;
            z-index: 1;
            box-shadow: 0 1px 10px rgba(black, .3);
        }
    }

    // メニュー以外の部分をタップでメニュー開閉するためのオーバーレイ
    &__overlay {
        position: relative;
        display: none;
        .isOpened & {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 200px;
            z-index: 2;
            display: block;
        }
    }
}
