@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
/*! sanitize.css v6.0.0 | CC0 License | github.com/csstools/sanitize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add border box sizing in all browsers (opinionated).
 */
@import "https://use.fontawesome.com/releases/v5.0.6/css/all.css";
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: border-box;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 4. Breaks words to prevent prevent overflow in all browsers (opinionated).
 */
html {
  line-height: 1.15;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  word-break: break-word;
  /* 4 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Remove the text shadow on text selections in Firefox 61- (opinionated).
 * 1. Restore the coloring undone by defining the text shadow
 *    in all browsers (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Restore the focus styles unset by the previous rule in Firefox.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay on clickable elements in all browsers (opinionated).
 * 2. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled],
[disabled] {
  cursor: disabled;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

:root, html, body {
  background-color: #fbf7f3;
  color: #474747;
  width: 100%;
  font-size: 62.5%;
}

html {
  line-height: 1.5;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #474747;
  text-decoration: none;
}

a:hover {
  color: #878378;
}

.l-column {
  flex: 0 1 1180px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (max-width: 640px) {
  .l-column {
    padding: 0 30px;
    width: auto;
  }
}

.l-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.l-halfColumn {
  flex: 1 0 0px;
  max-width: 570px;
  margin-right: 40px;
}

.l-halfColumn:nth-child(even) {
  margin-right: 0;
}

@media only screen and (max-width: 640px) {
  .l-halfColumn {
    display: block;
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
  }
}

.l-quaterColumn {
  flex: 1 0 0px;
  max-width: 265px;
  margin-right: 40px;
}

.l-quaterColumn:nth-child(4n) {
  margin-right: 0;
}

.l-halfTile {
  display: flex;
  flex: 1 1 50%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 640px) {
  .l-halfTile {
    flex-basis: 100%;
  }
}

.l-fitImg {
  max-width: 100%;
  max-height: 100%;
}

.button {
  display: inline-block;
  padding: 7px 12px;
  background: #252525;
  color: white;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1;
}

.sectionLabel {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #474747;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  font-family: "Lato";
  font-weight: 300;
}

.sectionLabel::before, .sectionLabel::after {
  display: block;
  flex: 1 0 10%;
  height: 0;
  border-bottom: 1px solid #474747;
  content: '';
}

.sectionLabel::before {
  margin-right: 22px;
}

.sectionLabel::after {
  margin-left: 22px;
}

.logo {
  display: inline-block;
  padding: 10px 0;
  color: #474747;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 26px;
  font-family: "Lato";
  font-weight: 300;
}

.NewsList {
  display: table;
  border-spacing: 0 10px;
  border-collapse: separate;
}

.NewsList__itemã€€ {
  display: table-row;
}

.NewsList__head {
  display: table-cell;
  padding-right: 40px;
  width: 140px;
}

.NewsList__body {
  display: table-cell;
}

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 9.8rem;
}

.Header__head {
  flex: 1 1 auto;
  text-align: center;
}

.Header__body {
  flex: 3 1 auto;
  font-size: 1.6rem;
}

.Menu {
  display: flex;
  justify-content: space-around;
  font-family: "Lato";
  font-weight: 300;
}

.Menu__item {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
}

.Menu--sub {
  flex-direction: column;
}

.Section {
  margin-bottom: 40px;
}

.Section__item {
  margin-bottom: 40px;
}

.Section__item:last-child {
  margin-bottom: 0;
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto 0;
  padding: 20px 0;
  background-color: #252525;
  color: #878378;
}

.Footer__head {
  flex: 2 1 50%;
}

.Footer__head, .Footer__body {
  padding-right: 20px;
}

.Footer__body, .Footer__foot {
  align-self: flex-start;
  flex: 1 1 25%;
}

.Footer a {
  color: #878378;
}

.Footer a:hover {
  color: white;
}

.SNS {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.SNS__item {
  margin-right: 20px;
}

.SNS__item:last-child {
  margin-right: 0;
}

.SNS__text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.EntryPanel {
  display: flex;
  align-items: center;
}

.EntryPanel__main {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex: 1 1 55%;
  flex-direction: column;
  padding: 20px 0;
}

.EntryPanel__sub {
  flex: 1 1 45%;
  margin-right: 20px;
}

.EntryPanel__thumb {
  width: 100%;
  height: auto;
}

.EntryPanel__head {
  font-weight: bold;
  font-size: 1.6rem;
}

.EntryPanel__foot {
  margin-top: 10px;
  text-align: right;
}

.EntryPanel__body {
  margin-top: 10px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 640px) {
  .EntryPanel__body {
    font-size: 1.2rem;
  }
}

.ImageSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.ImageSlide__main {
  display: flex;
  flex-wrap: nowrap;
}

.ImageSlide__item {
  flex: 0 0 80%;
}

.ImageSlide__image {
  width: 100%;
  height: auto;
}

.ImageSlide__sub {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 640px) {
  .ImageSlide__sub {
    top: -20px;
  }
}

.ImageSlide__dot {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #252525;
  border-radius: 10px;
  margin-right: 20px;
}

.ImageSlide__dot:last-child {
  margin-right: 0;
}

.ImageSlide__dot.isActive {
  background: #252525;
}

@media only screen and (max-width: 640px) {
  .ImageSlide__dot {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
}

.OverlayPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10% 20%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.OverlayPanel:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.OverlayPanel__head {
  margin: 0 10%;
  padding: 24px 36px;
  border: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 24px;
}

.OverlayPanel:hover .OverlayPanel__head {
  background-color: rgba(255, 255, 255, 0.2);
}

.OverlayPanel__body {
  margin: 16px auto;
}

@media only screen and (max-width: 640px) {
  .OverlayPanel__body {
    display: none;
  }
}

.IconPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.IconPanel__head {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.IconPanel__body {
  padding: 30px;
  max-width: 100%;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
}

.IconPanel__icon {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 26px;
  color: #878378;
}

.IndexPage__foodMenu, .IndexPage__drinkMenu {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.IndexPage__drinkMenu {
  background-image: url("../../resources/images/top/menu_drink.jpg");
}

.IndexPage__foodMenu {
  background-image: url("../../resources/images/top/menu_food.jpg");
}

.u-mt60px {
  margin-top: 60px;
}

.u-mb100px {
  margin-bottom: 100px;
}
