@charset 'utf-8';

// sanitize.cssを_sanitize.scssにリネームして使用
@import "./lib/sanitize";

:root, html, body {
    background-color: $color-base;
    color: $color-main-text;
    width: 100%;
    font-size:62.5%;
}

body {
    font-size:16px;
    font-size:1.6rem;
}

* {
    box-sizing: border-box;
    // _sanitize.scssでmargin、paddingを0に設定していなかったため、ここで設定
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: $color-main-text;
    text-decoration: none;
}
a:hover {
    color: $color-link;
}
